<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpeechToTextPassword</key>
	<string>OKTIpiBEYLlI</string>
	<key>SpeechToTextUsername</key>
	<string>65ce32ad-c874-4690-87ad-fae9f9c14070</string>
</dict>
</plist>
